/* line 5, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/styles.scss */
body {
  color: #333;
  text-align: center;
  font-size: 1em;
  font-family: Georgia, serif;
  line-height: 1.5;
}

/* line 18, ../sass/styles.scss */
a {
  text-decoration: none;
}

/* line 22, ../sass/styles.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 27, ../sass/styles.scss */
h1 {
  font-family: Bitter, Georgia, serif;
  font-size: 2.25em;
  padding: 0 1em;
}

/* line 37, ../sass/styles.scss */
header {
  padding: 10em 0 14em;
}
/* line 40, ../sass/styles.scss */
header h1 {
  font-style: italic;
}

/* line 45, ../sass/styles.scss */
.avatar {
  -moz-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -webkit-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 53, ../sass/styles.scss */
header, footer {
  background: #f5f5f5;
}

/* line 57, ../sass/styles.scss */
.content, footer {
  padding: 4em 0 6em;
}

/* line 61, ../sass/styles.scss */
.content {
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
}

/* line 70, ../sass/styles.scss */
.carousel {
  position: relative;
}

/* line 74, ../sass/styles.scss */
.shot-container {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 1em 0;
}

/* line 83, ../sass/styles.scss */
.shots {
  overflow: hidden;
  margin: 0;
  padding: 0 2%;
  width: 4420px;
}
/* line 95, ../sass/styles.scss */
.shots li {
  float: left;
  width: 400;
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 109, ../sass/styles.scss */
footer p {
  color: #777;
  padding: 0 1em;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?lq4c3u");
  src: url("../fonts/icomoon.eot?#iefixlq4c3u") format("embedded-opentype"), url("../fonts/icomoon.woff?lq4c3u") format("woff"), url("../fonts/icomoon.ttf?lq4c3u") format("truetype"), url("../fonts/icomoon.svg?lq4c3u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_social.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_social.scss */
.icon-google-plus2 {
  color: #db4a39;
}
/* line 28, ../sass/_social.scss */
.icon-google-plus2:hover {
  background: #db4a39;
}
/* line 29, ../sass/_social.scss */
.icon-google-plus2:before {
  content: "\ea89";
}

/* line 32, ../sass/_social.scss */
.icon-facebook2 {
  color: #3b5998;
}
/* line 34, ../sass/_social.scss */
.icon-facebook2:hover {
  background: #3b5998;
}
/* line 35, ../sass/_social.scss */
.icon-facebook2:before {
  content: "\ea8d";
}

/* line 38, ../sass/_social.scss */
.icon-instagram {
  color: #634d40;
}
/* line 40, ../sass/_social.scss */
.icon-instagram:hover {
  background: #634d40;
}
/* line 41, ../sass/_social.scss */
.icon-instagram:before {
  content: "\ea90";
}

/* line 44, ../sass/_social.scss */
.icon-twitter2 {
  color: #00a0d1;
}
/* line 46, ../sass/_social.scss */
.icon-twitter2:hover {
  background: #00a0d1;
}
/* line 47, ../sass/_social.scss */
.icon-twitter2:before {
  content: "\ea92";
}

/* line 50, ../sass/_social.scss */
.icon-youtube3 {
  color: #c4302b;
}
/* line 52, ../sass/_social.scss */
.icon-youtube3:hover {
  background: #c4302b;
}
/* line 53, ../sass/_social.scss */
.icon-youtube3:before {
  content: "\ea99";
}

/* line 56, ../sass/_social.scss */
.icon-dribbble2 {
  color: #ea4c89;
}
/* line 58, ../sass/_social.scss */
.icon-dribbble2:hover {
  background: #ea4c89;
}
/* line 59, ../sass/_social.scss */
.icon-dribbble2:before {
  content: "\eaa7";
}

/* line 62, ../sass/_social.scss */
.social {
  margin: 2em 0;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 66, ../sass/_social.scss */
.social li {
  position: relative;
  display: inline-block;
  margin: .5em;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 72, ../sass/_social.scss */
.social li:hover {
  color: white;
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}
/* line 77, ../sass/_social.scss */
.social li:before {
  position: absolute;
  margin-left: -.5em;
  left: 50%;
  top: 1.5em;
}
/* line 85, ../sass/_social.scss */
.social li a {
  display: block;
  color: inherit;
  padding: 2.5em 1.5em 1.25em;
  overflow: hidden;
}
