// styles.scss
// Sass stylesheet for portfolio

// Import Compass reset
@import "compass/reset";
@import "compass/css3";

body {
  color: #333;
  text-align: center;
  font: {
    size: 1em;
    family: Georgia, serif;
  }
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font: {
    family: Bitter, Georgia, serif;
    size: 2.25em;
  }
  padding: 0 1em;
}

// Header
// *****************************************************************************
header {
  padding: 10em 0 14em;

  h1 {
    font-style: italic;
  }
}

.avatar {
  // width: 100px;
  // height: 100px;

  @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
  @include border-radius(50%);
}

header, footer {
  background: #f5f5f5;
}

.content, footer {
  padding: 4em 0 6em;
}

.content {
  border: {
    top: 1px solid #c9c9c9;
    bottom: 1px solid #c9c9c9;
  }
}

// PROJECTS
// *****************************************************************************
.carousel {
  position: relative;
}

.shot-container {
  width: 100%;
  overflow-x: scroll;
  // allows users to swipe when on a phone
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 1em 0;
}

.shots {
  overflow: hidden;
  margin: 0;
  padding: 0 2%;
  $numberOfShots: 10;
  $shotWidth: 400;
  $shotMargin: 10;
  $shotPadding: 10;
  $shotBorder: 1;
  $shotUnit: px;
  width: $numberOfShots * ($shotWidth + ($shotMargin * 2) + ($shotPadding * 2) + ($shotBorder * 2)) + $shotUnit;

  li {
    float: left;
    width: $shotWidth;
    margin: 0 ($shotMargin + $shotUnit);
    padding: 0 ($shotPadding + $shotUnit);
    border: ($shotBorder + $shotUnit) solid #ddd;

    @include border-radius(3px);
  }
}

// FOOTER
// *****************************************************************************
footer {
  p {
    color: #777;
    padding: 0 1em;
  }
}



@import "social";
